# dependencies
node_modules/

# production build
dist/
build/

# vite cache
.vite/

# environment variables
.env
.env.local
.env.development
.env.production
.env.docker

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# testing
coverage/

# misc
*.local
# Playwright
test-results/
playwright-report/
